<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>else-condition</h1>
    {% if a > b %}
    {{a}}<h1> is max</h1>
    {% else %}
    {{b}}<h1> is max </h1>
    {% endif %}
    <h1> if-elif</h1>
    {% if a > b and a > c %}
    {{a}}
    {% elif b > c %}
    {{b}}
    {% else %}
    {{c}}
    {% endif %}
</body>

</html>